<div class="container-fluid">
	<div class="header flex justify-center align-center">
		<h3>Create something magical that gets delivered to your - 
			<div class="animating-textCon d-inline">
				<span class="dynamic-text">self.</span>
				<span class="dynamic-text pe-0 me-0" style="display: none;">friend.</span>
				<span class="dynamic-text"  style="display: none;">family.</span>
				<span class="dynamic-text" style="display: none;">staff.</span>
				<span class="dynamic-text" style="display: none;">bestie.</span>
			</div>
		</h3>
	</div>
	<br>
	<div class="">
		<center><span class="page-title text-center" style="top: 355px !important">Overview</span></center>
		<span style="margin-top: -10px; z-index: -5 !important;"
			class="border-bottom border-secondary w-100 d-block mb-5"></span>
	</div>

	<div class="jumbotron my-5 py-5">
		<h4 class="text-center">Most recent purchase</h4>

		<div class="row justify-center my-5 ">
			<div class="col-lg-5 col-10 card mx-2 mb-lg-0 mb-5" style="background-color: #f1f9ff;">
				<div class="card-body">
					<div class="">
						<strong class="mb-5 d-blcok"> <img src="./asset/image/products/3.png" alt="" srcset=""
								style="width: 27px;"> Westmire
							Wired</strong>
						<br>

						<div class="row align-center justify-center">

							<div class="col-lg-7 col-md-10 order-1 order-lg-0 px-0 mx-0 justify-center flex">
								<div class="mx-0 px-0 ">

									<div class="mt-5">
										<h5>The Westmire</h5>
										<h5 class="text-bold">A56 Headset</h5>

										<button class="btn btn-primary px-3" style="border-radius: 30px;">Shop
											now</button>

										<button class="btn btn-outline-primary px-3" style="border-radius: 30px;">Shop
											All</button>

									</div>

								</div>
							</div>
							<div class="col-lg-5 col-6">
								<img src="./asset/image/products/headphone.png" class="w-75" style="object-fit: cover;">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-10 card">

				<div class="card-body">
					<strong class=""><i class="fas fa-user"></i> Leggo</strong>
					<div class="card-bod justify-content-center d-flex">
						<img src="./asset/image/products/1.png" alt="" height="250" class="w-75 w-sm-100"
							style="object-fit: cover;">

					</div>
				</div>
			</div>
		</div>

	</div>


	<div class=" my-5">
		<h4 class="text-center">Hot Deal of the Month</h4>

		<div class="row justify-center my-5 ">

			<div class="col-lg-5 col-10 card mb-5 mb-lg-0 mx-2" style="background-color: #f1f9ff;">
				<div class="card-body">
					<div class="">

						<br>
						<div class="row align-center justify-center">
							<div class="col-lg-7 col-md-10 order-1 order-lg-0 px-0 mx-0 justify-center flex">
								<div class="mx-0 px-0 ">
									<h5 class="text-bold">Expert Support</h5>

									<div class="">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
										<p>Visit us in stores!</p>

										<!-- <br> -->
										<h6 class="text-bold">Our Locations</h6>
										<p class="mb-0">14 ademola oshinowo kettu Lagos, Nigeria</p>
										<p>10 Ologolo Lekki Lagos, Nigeria</p>
									</div>

								</div>
							</div>
							<div class="col-lg-5 col-6 mb-lg-0 mb-5">
								<img src="./asset/image/products/mobile.jpg" class="w-100 h-50"
									style="border-top-left-radius:30px; border-bottom-right-radius:50px; object-fit: contain;">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-5 col-10 card mx-2" style="background-color: #f1f9ff;">
				<div class="card-body">
					<div class="">
						<strong class="mb-5 d-blcok"> <img src="./asset/image/products/3.png" alt="" srcset=""
								style="width: 27px;"> Westmire
							Wired</strong>
						<br>
						<br>
						<div class="row align-center justify-center">

							<div class="col-lg-7 col-md-10 order-1 order-lg-0 px-0 mx-0 justify-center flex">
								<div class="mx-0 px-0 ">


									<div class="mt-5">
										<h5>The Westmire</h5>
										<h5 class="text-bold">A56 Headset</h5>

										<button class="btn btn-primary px-3" style="border-radius: 30px;">Shop
											now</button>

										<button class="btn btn-outline-primary px-3" style="border-radius: 30px;">Shop
											All</button>

									</div>

								</div>
							</div>
							<div class="col-lg-5 col-6">
								<img src="./asset/image/products/headphone.png" class="w-75" style="object-fit: cover;">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END  -->
		</div>
	</div>

	<div class="jumbotron mx-auto mb-5 py-4">

		<h3 class="text-center">Sales</h3>
		<!-- I want to try doing this again i am not removing anything will just do it above -->
		<div class="px-0 row py-3 justify-content-center my-3 mx-">

			<div class="card col-sm-10 col-md-5 col-lg-5 col-xl-3 col-10 bg-light-blue">
				<div class="card-body row align-items-center justify-content-center">
					<div class="col-sm-6 col-10	 card-text text-start">
						<strong>All-new technology</strong>
						<p class="ft-12">Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Aspernatur
							debitis perferendis voluptatum!</p>
					</div>
					<div class="col-sm-6 col-10">
						<img src="./asset/image/products/5.png" alt="" class="img-responsive h-100 w-100"
							style="object-fit: contain">
					</div>
				</div>
			</div>

			<div class="card col-sm-10 mt-xl-0 my-5 my-xl-0 col-xl-5 col-10 bg-light-blue order-md-1">
				<div class="card-body ">
					<div class="row justify-content-center">
						<div class="col-md-4 col-12 mx-0">
							<div class="card b-radius">
								<div class="">
									<img src="./asset/image/products/6.png" alt="" class="img-flui w-100 h-100"
										style="object-fit: cover;">
								</div>
								<div class="ft-12">
									<strong>All-new technology</strong>
									<p class="ft-12">Lorem, ipsum dolor sit amet consectetur
										adipisicing elit.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-12 mx-0 my-md-0 my-4">
							<div class="card b-radius">
								<div>
									<img src="./asset/image/products/9.png" alt="" class="img-fluid w-100">
								</div>
								<div class="ft-12">
									<strong>All-new technology</strong>
									<p class="ft-12">Lorem, ipsum dolor sit amet consectetur
										adipisicing elit.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-12 mx-0">
							<div class="card b-radius">
								<div>
									<img src="./asset/image/products/7.png" alt="" class="img-fluid w-100">
								</div>
								<div class="">
									<strong class="ft-12">All-new technology</strong>
									<p class="ft-12">Lorem, ipsum dolor sit amet consectetur
										adipisicing elit.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card col-sm-10  col-10 col-md-5 col-lg-5 col-xl-3">
				<div class="card-body ">
					<div class="row align-items-center justify-center">
						<div class="col-sm-6 col-10">
							<img src="./asset/image/products/14.png" alt="" class="img-fluid w-25">
							<h4 class="ft-12">The Westmire</h4>
							<strong class="ft-12">A56 Headset</strong>
							<p class="ft-12">Lorem, ipsum dolor sit amet consectetur adipisicing
								elit. Aspernatur
								debitis perferendis voluptatum!</p>
						</div>
						<div class="col-sm-6 col-10 d-flex justify-center align-center">
							<img src="./asset/image/products/8.png" alt="" class="img-fluid w-100">
						</div>
					</div>
				</div>
			</div>
		</div>

		<center><a href='/' class="btn btn-primary px-5 btn-lg" style="border-radius: 30px;">Shop</a></center>
	</div>
</div>