<div class="container-fluid">
 <div class="header flex-column justify-center align-center align-center">
  <h2>Track Your Orders</h2>
  <p class='lead'>From our warehouse down to its final destination.</p>
 </div>
 <br>
 <div class="">
  <center><span class="page-title text-center" style="top: 355px !important">Track Orders/Freight</span></center>
  <span style="margin-top: -10px; z-index: -5 !important;"
   class="border-bottom border-secondary w-100 d-block mb-5"></span>
 </div>

 <div class="my-5 container">
  <form action="">
   <div class="shadow py-4">
    <h6 class="text-center">Please fill in the Tracking Number of the order you wish to track.</h6>
    <div class="flex-column align-center justify-center">
     <div class="form-floating mt-4 col-sm-7 col-lg-5 col-10">
      <input type="text" name="tracking_number" id="tracking-field" class="form-control" placeholder="Enter tracking number" required>
      <label for="tracking-field"> Tracking Number</label>
     </div>
    </div>
    <center>
     <button  class="btn btn-primary mt-4 col-sm-7 col-lg-5 col-10" type="submit"> Submit</button>
    </center>
   </div>
  </form>
 </div>
</div>