<div class="container-fluid">
  <div class="header flex justify-center align-center">
    <h3>Create something magical that gets delivered to your - 
      <div class="animating-textCon d-inline">
				<span class="dynamic-text">self.</span>
				<span class="dynamic-text pe-0 me-0" style="display: none;">friend.</span>
				<span class="dynamic-text"  style="display: none;">family.</span>
				<span class="dynamic-text" style="display: none;">staff.</span>
				<span class="dynamic-text" style="display: none;">bestie.</span>
			</div>
    </h3>
  </div>
  <br>
  <div class="">
    <center><span class="page-title text-center" style="top: 355px !important">UK Address</span></center>
    <span style="margin-top: -10px; z-index: -5 !important;"
      class="border-bottom border-secondary w-100 d-block mb-5"></span>
  </div>

  <div class="my-5 container">
    <h6 class="text-center mt-5">Please remember it is important to include Hey-Logistics on
      your packages beside your name, tell your agents to do this before
    </h6>
    <h6 class="text-center mb-5"> dropping off your at our addresses. Example: "John Abayomi [HeyLogistics]"</h6>

    <div class="row justify-content-around align-items-center">
      <div class="col-sm-5 col-md-3 col-10 card-deck">
        <div class="card card-min">
          <div class="card-body d-flex justify-content-center align-items-center py-5">
            <strong class="text-primary d-block">
              Unit, Loughborough Center, <br><br>
              105 Angell Road,
              Brixton, London, <br><br>
              SW9 7PD,
              United Kingdom
            </strong>
            <br>
            <i class="fas fa-clone d-block text-20 p-1"
              style="position: absolute; right: 7px; top: 10px; cursor: pointer; filter: drop-shadow(3px 3px 5px #000)"></i>
          </div>
        </div>
        <div class="card-footer px-0 d-flex justify-content-center">
          <a href="/" class="btn px-0 btn-primary form-control" style="border-radius: 5px;">London, UK</a>
          <!-- </div> -->
        </div>
      </div>

      <div class="col-sm-5 col-md-3 col-10 card-deck mx-md-3 ms-sm-3 mt-sm-0 mt-4 ">
        <div class="card card-min">
          <div class="card-body d-flex justify-content-center align-items-center py-5">
            <strong class="text-primary d-block">
              Coming soon!!!
            </strong>
          </div>
        </div>
        <div class="card-footer px-0 d-flex justify-content-center">
          <a href="/" class="btn px-0 btn-primary form-control" style="border-radius: 5px;">Manchester, UK</a>
        </div>
        <!-- </div> -->
      </div>

      <div class="col-sm-5 col-md-3 col-10 mt-md-0 mt-4 card-deck">
        <div class="card card-min">
          <div class="card-body d-flex justify-content-center align-items-center py-5">
            <strong class="text-primary d-block">
              Coming soon!!!
            </strong>
          </div>
        </div>
        <div class="card-footer px-0 d-flex justify-content-center">
          <a href="/" class="btn px-0 btn-primary form-control" style="border-radius: 5px;">Dublin, Ireland</a>
        </div>
        <!-- </div> -->
      </div>
    </div>

  </div>
</div>